@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap");

:root {
  --primary: rgb(134, 134, 135);
}

body {
  font-family: "Roboto";
}

.main-div {
  box-shadow: 20px 20px 30px 3px rgba(134, 134, 135, 0.35),
    -3px -3px 3px 3px rgba(255, 255, 255, 1);
}

.main-div-dark {
  box-shadow: 5px 5px 20px rgba(0,0,0, 0.5),
    -5px -5px 15px rgba(255, 255, 255, 0.05);
}

.main-center {
  box-shadow: inset 3px 3px 3px 0px rgba(134, 134, 135, 0.75),
    inset -1px -1px 2px 1px rgba(255, 255, 255, 1);
}

.main-center-dark {
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5),
    inset -2px -2px 3px rgba(255, 255, 255, 0.05);
}

.currencies,
.timespans,
.add-expense,
.single-expense,
.table,
.table-timespan,
.inactive-tax,
.switch-dark {
  box-shadow: 5px 5px 5px -1px rgba(134, 134, 135, 0.35),
    -3px -2px 3px 1px rgba(255, 255, 255, 1);
}

.currencies-dark,
.timespans-dark,
.add-expense-dark,
.single-expense-dark,
.table-dark,
.table-timespan-dark,
.inactive-tax-dark {
  box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.5),
  -3px -2px 3px 1px rgba(255, 255, 255, 0.05);
}

.currencies button:hover,
.timespans button:hover {
  transition: all 0.1s ease-in-out;
  box-shadow: inset 3px 3px 3px 0px rgba(134, 134, 135, 0.75),
    inset -1px -1px 2px 1px rgba(255, 255, 255, 1);
}

.currencies-dark button:hover,
.timespans-dark button:hover {
  
}

.active-button,
.t-side-head,
.active-tax {
  box-shadow: inset 3px 3px 3px 0px rgba(134, 134, 135, 0.75),
    inset -1px -1px 2px 1px rgba(255, 255, 255, 1);
  font-weight: 700;
}

.active-tax,
.active-button,
.t-side-head-dark,
.switch-light {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5),
    inset -3px -3px 5px rgba(255, 255, 255, 0.05);
}

.salary,
.expense-value,
.expense-title
 {
  box-shadow: inset 3px 3px 5px 0px rgba(134, 134, 135, 0.75),
    inset -2px -2px 1px 2px rgba(255, 255, 255, 1);
  border: none;
}

.salary-dark,
.expense-value-dark,
.expense-title-dark {
  box-shadow: inset 3px 3px 5px 0px rgba(0, 0, 0, 0.5),
    inset -2px -2px 1px 2px rgba(255, 255, 255, 0.05);
  border: none;
}

/* .active-tax {
  box-shadow: inset 3px 3px 5px 0px rgba(75, 0, 130, 0.75),
    inset -2px -2px 1px 2px rgba(241, 229, 250, 1);
} */

.single-chart {
  box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.35),
    -3px -2px 3px 1px rgba(255, 255, 255, 1);
}

.single-chart-dark {
  box-shadow: 5px 5px 5px -1px rgba(0, 0, 0, 0.5),
    -3px -2px 3px 1px rgba(255, 255, 255, 0.05);
}

.delete-expense:hover {
  transition: all 0.1s ease-in-out;
  box-shadow: inset 3px 3px 7.5px 0px rgba(134, 134, 135, 0.75);
}

.calculate-button {
  box-shadow: 0px 12.5px 10px -5px rgba(134, 134, 135, 1);
  transition: all 0.2s ease-in-out;
}

.calculate-button:hover {
  box-shadow: 0 0 0 0 rgba(134, 134, 135, 0.75);
}

.calculate-button-dark {
  box-shadow: 0px 12.5px 10px -5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.calculate-button-dark:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
}